* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	background-image: linear-gradient(to bottom right, lightgrey 50%, grey);
}
.clock {
	position: absolute;
	height: 400px;
	width: 400px;
	border-radius: 100%;
	background-image: radial-gradient(#00008b, #000000);
	border: 10px solid #daa520;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.topHour {
	position: absolute;
	width: 3px;
	height: 20px;
	background-color: #daa520;
	top: -1px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.bottomHour {
	position: absolute;
	width: 3px;
	height: 20px;
	background-color: #daa520;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}
.rightHour {
	position: absolute;
	width: 20px;
	height: 3px;
	background-color: #daa520;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto 0;
}
.leftHour {
	position: absolute;
	width: 20px;
	height: 3px;
	background-color: #daa520;
	top: 0;
	bottom: 0;
	left: -1px;
	margin: auto 0;
}
.holder {
	height: 12px;
	width: 12px;
	border-radius: 100%;
	background-color: #dab940;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 4;
}

.seconds {
	position: absolute;
	width: 3px;
	border-radius: 5px;
	height: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	/* animation: time 60s steps(60, end) infinite; */
	animation: time 60s forwards linear infinite;

	z-index: 1;
}
.seconds:before {
	content: "";
	position: absolute;
	width: 3px;
	border-radius: 5px;
	height: 46%;
	background-color: #ffd700;
	left: 0;
	right: 0;
	top: 11%;
	margin: 0 auto;
}
.minutes {
	position: absolute;
	width: 5px;
	border-radius: 5px;
	height: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	animation: time 3600s steps(60, end) infinite;
	/* animation: time 3600s forwards linear infinite; */
	z-index: 2;
}
.minutes:before {
	content: "";
	position: absolute;
	width: 5px;
	border-radius: 5px;
	height: 30%;
	background-color: #ffd700;
	left: 0;
	right: 0;
	top: 24%;
	margin: 0 auto;
}
.hours {
	position: absolute;
	width: 7px;
	border-radius: 5px;
	height: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	/* animation: time 43200s steps(60, end) infinite; */
	animation: time forwards 43200s linear infinite;
	z-index: 3;
}
.hours:before {
	content: "";
	position: absolute;
	width: 7px;
	border-radius: 5px;
	height: 20%;
	background-color: #daa520;
	left: 0;
	right: 0;
	top: 30%;
	margin: 0 auto;
}
@keyframes time {
	to {
		transform: rotate(360deg);
	}
}
